#topo img
{
    margin: 5%;
    border: 1px solid #000;
    padding: 70px;
}

#topo #icones
{
    float: right;
    margin: 5%;
}

#topo #menu a.iconFacebook
{
    margin: 2%;
}

#menu
{
    margin: 0 5%;
    width: 90%;
}

#corpo h1
{
    margin: 2% 5%;
}

#corpo img
{
    border: 1px solid #000;
    padding: 100px;
    margin: 0 5%;
    float: left;
}

#corpo #textoIndex
{
    width: 95%;
    text-align: justify;
}

#corpo #TextoQuem_Somos_Historia
{
    max-width: 96%;
    text-align: justify;
    margin: 0 5%;       
}

#corpo #TextoQuem_Somos_Historia .imgQuem_Somos_Historia
{
    float: right;
}

#corpo #TextoQuem_Somos_Historia .imgQuem_Somos_Historia2
{
    margin: 0 4% 0 0;
}

#corpo .noticia img
{
    float: left;
    max-width: 80px;
    max-height: 80px;
    margin: 2%;
    padding: 5%;
}

#corpo .noticia p
{
    text-align: justify;
    padding: 0 2%;
}

#rodape
{
    margin: 5%;
    text-align: center;
    font-weight: bold;
}